@charset "utf-8";

/*Global setting*/
:root {
	/* Color */
	--color-white: #ffffff;
	--color-light-white: #f2f2f2;
	--color-dark-white: #bdbdbd;
	--color-light-purple: #dfb3f2;
	--color-purple: #9530d9;
	--color-dark-purple: #2d0258;
	--color-black: #000;
	--color-dark-grey: #4d4d4d;
	--color-grey: #616161;
	--color-light-grey: #7c7979;
	--color-blue: #73aace;
	--color-yellow: #fff7d1;
	--color-orange: #feb546;

	/* Font Size */
	--font-large: 48px;
	--font-medium: 24px;
	--font-regular: 16px;
	--font-small: 14px;
	--font-micro: 13px;

	/* Font weight */
	--weight-bold: 700;
	--weight-semi-bold: 600;
	--weight-regular: 400;

	/* Size */
	--size-border-radius: 4px;

	/* Animation */
	--animation-duration: 0.3s;
}

.innerWidth {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
}

/* 컨테이너 */
body {
	overflow-x: hidden;
}
.container {
	max-width: 940px;
	margin: 0 auto;
}
.section {
	width: 100%;
	opacity: 0;
	transform: translate3d(0, 50px, 0);
	transition: all 0.6s ease-in-out;
}
.section.show {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
section .container {
	height: 100vh;
}
article {
	height: 100vh;
}
.title {
	text-align: center;
	padding-top: 86px;
	margin-bottom: 48px;
}

/* Header */
#header {
	position: fixed;
	width: 100%;
	padding: 8px 16px;
	background-color: transparent;
	color: var(--color-dark-purple);
	transition: all var(--animation-duration) ease-in-out;
	z-index: 2;
}

.header__container {
	max-width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo a {
	color: var(--color-dark-purple);
}
.header__logo a:hover {
	color: var(--color-dark-purple);
}

.navbar__menu {
	display: flex;
}
.navbar__menu__item {
	padding: 8px 12px;
	margin: 0 4px;
	cursor: pointer;
	color: var(--color-dark-purple);
	font-size: var(--font-small);
	/* border-radius: var(--size-border-radius); */
	border: 1px solid transparent;
}
.navbar__menu__item.active,
.navbar__menu__item:hover {
	border: 1px solid var(--color-white);
	color: var(--color-white);
	/* background-color: var(--color-purple); */
}

#header.header--dark {
	background-color: var(--color-purple);
	opacity: 80%;
	color: var(--color-white);
	font-size: var(--font-small);
	padding: 8px 24px;
}
#header.header--dark li,
#header.header--dark a {
	color: var(--color-white);
}

/* Toggle button */
.navbar__toggle-btn {
	position: absolute;
	right: 24px;
	top: 14px;
	cursor: pointer;
	margin-left: 12px;
	font-size: 24px;
	color: var(--color-purple);
	display: none;
}
.navbar__toggle-btn span {
	display: block;
	background: var(--color-white);
	width: 36px;
	height: 4px;
	border-radius: 3px;
	transition: 0.25s margin 0.25s, 0.25s transform;
}
.navbar__toggle-btn span:nth-child(1) {
	margin-bottom: 6px;
}
.navbar__toggle-btn span:nth-child(3) {
	margin-top: 6px;
}
.navbar__toggle-btn.active span {
	transition: 0.25s margin, 0.25s transform 0.25s;
}
.navbar__toggle-btn.active span:nth-child(1) {
	margin-top: 8px;
	margin-bottom: -4px;
	transform: rotate(45deg);
}
.navbar__toggle-btn.active span:nth-child(2) {
	transform: rotate(45deg);
}
.navbar__toggle-btn.active span:nth-child(3) {
	margin-top: -4px;
	transform: rotate(135deg);
}

/* Home */
#home {
	background: url('../image/home_bg.png') center/cover no-repeat;
	text-align: center;
	position: relative;
	/* padding-top: 74px; */
}
.home__container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.home__description {
	/* flex-basis: 70%; */
	color: var(--color-white);
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
	margin: 40px 0;
}
.home__contact {
	/* flex-basis: 30%; */
	font-size: var(--font-small);
	font-weight: var(--weight-semi-bold);
	color: var(--color-white);
	margin: 24px;
	padding: 6px 10px;
	border: 1px solid var(--color-white);
	border-radius: var(--size-border-radius);
}
.home__contact:hover {
	background: var(--color-purple);
	color: var(--color-white);
	border: 1px solid transparent;
}
.home__image__source {
	position: absolute;
	left: 4px;
	bottom: 4px;
	color: var(--color-light-purple);
}
.home__image__source a {
	color: var(--color-light-purple);
}

/* About Me */
.about__content {
	width: 100%;
	padding: 0 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about__description {
	flex-basis: 50%;
	background-color: rgba(0, 0, 0, 0.3);
}
.about__image {
	width: 240px;
}
/* text Effect */
#textEffect .container {
	overflow: hidden;
}
.textEffect__container {
	/* position: relative; */
	width: 100%;
	overflow: hidden;
	/* height: 100%; */
	transform: skewy(-11deg);
}
/* .textEffect__container::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	transform: skewy(-11);
	transform-origin: 50% 0;
	 outline: 1px solid transparent; 
	backface-visibility: hidden;
} */
.textEffect__container span {
	display: inline-block;
	font-size: 80px;
	width: 100%;
	/* text-align: center; */
	font-weight: var(--weight-bold);
}
.textEffect__container span:last-child {
	font-size: 40px;
}

/* Skills */
#skills .container {
	position: relative;
	max-width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 30vh;
}
.skillset {
	width: 100%;
	position: relative;
	left: -100%;
	display: flex;
	flex-direction: column;
}
.skillset__move {
	position: relative;
	width: 100%;
	display: flex;
	animation-name: skillsetMove;
	animation-direction: reverse;
	animation-duration: 30s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}
.skillset__move:hover {
	animation-play-state: paused;
}
.skillset__move.container2 {
	animation-direction: normal;
}
.skill__wrap {
	display: flex;
	justify-content: space-around;
	align-content: space-around;
}

.skill {
	margin-right: 1vw;
	width: 11.5vw;
	height: 11.5vw;
	margin-bottom: 1vw;
	background-color: var(--color-light-white);
	text-align: center;
	padding: 12px 30px;
	border-radius: 24px;
	box-shadow: 5px 10px 45px -14px rgba(0, 0, 0, 0.35);
}
.skill:nth-of-type(3n + 1) {
	background-color: var(--color-light-purple);
}
.skill:nth-of-type(3n + 2) {
	background-color: var(--color-purple);
}
.skill__image {
	width: 100%;
	height: auto;
}
.skill__title {
	margin-top: 8px;
	font-weight: var(--weight-semi-bold);
}

@keyframes skillsetMove {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(100%, 0, 0);
	}
}

/* My Work */

#works {
	background-color: var(--color-white);
	position: relative;
}
.works__container {
	max-width: 960px;
	margin: 0 auto;
	padding-bottom: 30px;
}
.work__projects {
	width: 100%;
	height: 100%;
}

.project {
	width: 100%;
	height: 100%;
	padding: 0 30px;
	margin-bottom: 120px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.project:nth-child(2) {
	flex-direction: row-reverse;
}
.project__img {
	width: 240px;
	margin: 0 20px;
}

.project__title {
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
	margin-bottom: 20px;
}
.project__content {
	width: 360px;
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-bottom: 20px;
}
.project__description {
	margin-bottom: 20px;
}
.project__hashtag {
	margin-bottom: 20px;
}
.project__hashtag span {
	margin-right: 8px;
}

.project__button {
	border: 1px solid var(--color-dark-grey);
	padding: 8px 16px;
}

/* Study */
.study__container {
	max-width: 940px;
	margin: 0 auto;
	/* height: 100vh; */
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.category__btn {
	padding: 4px 36px;
	margin-bottom: 18px;
	position: relative;
	font-size: var(--font-regular);
	border: 1px solid var(--color-light-white);
}
.category__btn.active,
.category__btn:hover {
	background-color: var(--color-light-purple);
	color: var(--color-white);
}
.category__count {
	background-color: var(--color-purple);
	border-radius: 50%;
	color: var(--color-white);
	width: 18px;
	height: 18px;
	line-height: 18px;
	font-size: var(--font-small);
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 8px;
	opacity: 0;
	transition: all var(--animation-duration) ease-in-out;
}
.category__btn.active .category__count,
.category__btn:hover .category__count {
	opacity: 1;
	top: 8px;
}
.study__notes {
	display: flex;
	flex-wrap: wrap; /*활성창에 맞게 줄바꿈*/
	justify-content: center;
	align-content: flex-start;
	height: 100%;
	opacity: 1;
	transition: all var(--animation-duration) ease-in-out;
}
.study__notes.ani-out {
	opacity: 0;
	transform: scale(0.9) translateY(30px);
}

.study {
	width: 230px;
	height: 230px;
	padding: 8px;
	margin: 2px;
	position: relative;
	background-color: var(--color-light-white);
	display: flex;
	justify-content: center;
	align-items: center;
}
.study.invisible {
	display: none;
}
.study__img {
	max-width: 100%;
	max-height: 100%;
}
.study__description {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color-dark-purple);
	width: 100%;
	height: 100%;
	opacity: 0; /*안보임*/
	transition: all var(--animation-duration) ease-in;
	text-align: center;
}
.study:hover .study__description {
	opacity: 0.8;
}
.study__description h4 {
	font-size: var(--font-regular);
	color: var(--color-white);
}
.study__description span {
	font-size: var(--font-small);
	margin-top: 8px;
}
.study:hover .study__description h4,
.study:hover .study__description span {
	transform: translate(0px);
}
.study__description h4:after {
	content: '';
	display: block;
	width: 48px;
	height: 1px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 8px;
	background-color: var(--color-grey);
}

/* Contact Me */
#contact {
	background-color: var(--color-purple);
	padding-top: 48px;
	padding-bottom: 12px;
	margin-top: 60px;
	text-align: center;
}
.contact__title,
.contact__email,
.contact__link,
.contact__bottom {
	margin-bottom: 12px;
	color: var(--color-white);
}
.contact__title {
	margin-bottom: 36px;
}
.contact__link a {
	margin-right: 8px;
	color: var(--color-white);
	font-size: var(--font-medium);
}
.contact__bottom {
	color: var(--color-light-white);
	font-size: var(--font-micro);
}

/* Arrow up  */
.arrow-up {
	position: fixed;
	bottom: 50px;
	right: 50px;
	background-color: var(--color-purple);
	height: 40px;
	width: 40px;
	font-size: 24px;
	line-height: 32px;
	color: var(--color-white);
	opacity: 0;
	transition: all var(--animation-duration) ease-in;
	pointer-events: none; /*단지 투명도로만 화살표를 숨겨두어서 사용*/
}
.arrow-up.visible {
	opacity: 1;
	pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 1080px) {
	/* skill */
	.skill {
		width: 18vw;
		height: 18vw;
	}
	/* study */
	.study {
		width: 20vw;
		height: 20vw;
	}
}

@media screen and (max-width: 768px) {
	:root {
		/* Font Size */
		--font-large: 30px;
		--font-medium: 24px;
		--font-regular: 16px;
		--font-small: 14px;
		--font-micro: 12px;
	}
	/* 레이아웃 */
	.title {
		padding-top: 72px;
		margin-bottom: 72px;
	}
	/* header */
	#header {
		padding: 0;
	}
	.header__container {
		flex-direction: column;
		align-items: flex-start;
		background-color: transparent;
	}
	.header__container.toggle {
		background-color: var(--color-light-purple);
	}
	.header__logo {
		padding: 6px 12px;
		font-size: var(--font-medium);
	}
	.header__logo a {
		color: var(--color-white);
	}
	#header.header--dark {
		padding: 0;
		/* padding: 6px 18px; */
		background-color: var(--color-purple);
	}
	#header.header--dark li,
	#header.header--dark a {
		color: var(--color-white);
	}
	/* navbar */
	.navbar__toggle-btn {
		display: block;
	}
	.navbar__menu__container {
		width: 100%;
	}
	.navbar__menu {
		flex-direction: column;
		width: 100%;
		background-color: var(--color-light-purple);
		display: none;
		text-align: center;
	}
	.navbar__menu.open {
		display: block;
	}

	.navbar__menu__item {
		margin: 0;
		color: var(--color-white);
	}
	.navbar__menu__item.active,
	.navbar__menu__item:hover {
		background-color: var(--color-purple);
		border: 1px solid transparent;
		border-radius: 0;
	}
	.navbar__toggle-btn {
		top: 12px;
		right: 18px;
	}
	#header.header--dark .navbar__toggle-btn span {
		background: var(--color-white);
	}

	/* about */
	#about .container {
		margin: 0 24px;
	}
	.about__content

	/* skills */
	.skillset {
		margin-top: 40px;
	}

	.skill {
		margin-right: 2vw;
		width: 23vw;
		height: 23vw;
		margin-bottom: 2vw;
		background-color: var(--color-light-white);
		text-align: center;
		padding: 12px 30px;
		border-radius: 24px;
		box-shadow: 5px 10px 45px -14px rgba(0, 0, 0, 0.35);
	}

	/* works */
	.project__content {
		width: 240px;
		margin: 0 24px;
	}

	/* study */
	.study__notes {
		padding: 0 18px;
	}
	.study {
		width: 40vw;
		height: 40vw;
		margin: 1vw;
		flex-grow: 1; /*화면을 채움*/
	}
}
@media screen and (max-width: 480px) {
	.about__content {
		flex-direction: column;
	}

	.skill {
		width: 32vw;
		height: 32vw;
		margin-bottom: 12vw;
	}
	.project,
	.project:nth-child(2) {
		flex-direction: column;
	}
	.project__img {
		width: 240px;
		margin-bottom: 20px;
	}
	.study__categories {
		padding: 0 18px;
	}
	.category__btn {
		padding: 4px 24px;
		font-size: var(--font-small);
	}
	.category__count {
		width: 16px;
		height: 16px;
		line-height: 16px;
	}
	.category__btn.active .category__count,
	.category__btn:hover .category__count {
		font-size: var(--font-micro);
		top: 7px;
		right: 3px;
	}
}
